@{
    ViewBag.Title = "Nosotros";
}

<section class="about section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="single-image">
                    <a href="#"><img src="/Content/Admin/ArchitecUI/nanostore-orig.png" alt=""></a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-content">
                    <h3>Bienvenido a NanoStore</h3>
                    <p>Somos tu tienda virtual de preferencia con los mejores especiales del mercado.</p>
                    <br>
                    <p>Nuestro Personal capacitado está dispuesto a dar lo mejor de si para ti.</p>
                    <p>@ViewBag.Message</p>
                </div>
            </div>
        </div>
    </div>
</section>
