@{
    ViewBag.Title = "Contacto";
}

<section id="content">
    <div class="contact-info">
        <div class="container">
            <div class="contact-info-wrapper clearfix">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="contact-item-wrapper">
                        <h4>Dirección</h4>
                        <div class="info">
                            <div class="icon"><i class="icon-location-pin"></i></div>
                            <p>
                                Calle del Valle, No. 88
                                <br />
                                Santo Domingo, Rep. Dom.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="contact-item-wrapper">
                        <h4>Teléfonos:</h4>
                        <div class="info">
                            <div class="icon"><i class="icon-screen-smartphone"></i></div>
                            <p>
                                (855) 677-5289
                                <br />
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="contact-item-wrapper">
                        <h4>Correos:</h4>
                        <div class="info">
                            <div class="icon"><i class="icon-paper-plane"></i></div>
                            <p>
                                ventas@nanostore.com
                                <br />
                                soporte@nanostore.com
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-12">
                    <div class="header-wrap text-center">
                        <h3>Envianos un Mensaje</h3>
                        <p class="description">Estamos siempre atentos para responder tus inquietudes. No dudes en contactarnos!!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>