@model practica_northwind.Models.Products_Above_Average_Price

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Products_Above_Average_Price</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductName }) |
    @Html.ActionLink("Back to List", "Index")
</p>
